<div class="center"><%= link_to 'Add Team', new_team_path, class: "btn btn-primary btn-sm" %></div><br />

<table class="table table-striped table-hover">
  <thead>
    <tr class="warning">
      <th>Short name</th>
      <th>Long name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr class="<%= cycle('info', 'success') -%>">
        <td><%= team.short_name %></td>
        <td><%= team.long_name %></td>
        <td><%= "<span class='label label-success'>Main Team</span>".html_safe if team.is_main %></td>
        <td><%= "<span class='label label-info'>In League</span>".html_safe if team.in_league %></td>
        <td style="text-align: right;"><%= link_to 'Show', team, class: "btn btn-success btn-xs" %> 
          <%= link_to 'Edit', edit_team_path(team), class: "btn btn-warning btn-xs" %> 
          <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>