<div class="center"><%= link_to 'Add Fixture', new_fixture_path, class: "btn btn-primary btn-sm" %></div><br />

<table class="table table-striped table-hover">
  <thead>
    <tr class="warning">
      <th>Date</th>
      <th>Home team</th>
      <th class="center"><%= image_tag "squad/goals.png" %></th>
      <th style="text-align: right;">Away team</th>
      <th>Competition</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr class="<%= cycle('info', 'success') -%>">
        <td><%= fixture.date.to_formatted_s(:long) %></td>
        <td><%= fixture.home.short_name %></td>
        <td class="center"><%= fixture.home_score.to_s + " v " + fixture.away_score.to_s if fixture.played %></td>
        <td style="text-align: right;"><%= fixture.away.short_name %></td>
        <td><%= fixture.competition.name %></td>
        <td style="text-align: right;"><%= link_to 'Report', fixture, class: "btn btn-success btn-xs" %>
          <%= link_to 'Edit', edit_fixture_path(fixture), class: "btn btn-warning btn-xs" %>
          <%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>