<p>
  <strong>Home team:</strong>
  <%= @fixture.home.long_name %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @fixture.away.long_name %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @fixture.competition.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fixture.date %>
</p>

<p>
  <strong>Played:</strong>
  <%= @fixture.played %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @fixture.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @fixture.away_score %>
</p>

<p>
  <strong>Report:</strong>
  <%= @fixture.report.html_safe %>
</p>

<%= link_to 'Edit', edit_fixture_path(@fixture), class: "btn btn-warning btn-xs" %> |
<%= link_to 'Back', fixtures_path, class: "btn btn-primary btn-xs" %>
