<% content_for :title, "Competitions" %>

<div class="center"><%= link_to 'New Competition', new_competition_path, class: "btn btn-primary btn-sm" %></div><br />

<table class="table table-striped table-hover">
  <thead>
    <tr class="warning">
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr class="<%= cycle('info', 'success') %>">
        <td><%= competition.name %></td>
        <td><%= "<span class='label label-success'>League</span>".html_safe if competition.is_league %><%= "<span class='label label-danger'>Cup/Other</span>".html_safe unless competition.is_league %></td>
        <td style="text-align: right;"><%= link_to 'Show', competition, class: "btn btn-success btn-xs" %>
          <%= link_to 'Edit', edit_competition_path(competition), class: "btn btn-warning btn-xs" %>
        <%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>