<%= form_for(@news_item) do |f| %>
  <% if @news_item.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@news_item.errors.count, "error") %> prohibited this news_item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @news_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, size: 40, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body, cols: 60, rows: 10, class: "form-control wysihtml5" %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-success btn-sm" %>
    </div>
  </fieldset>
<% end %>