<%= form_for :table, :url => { action: 'update_multiple' } do %>

  <table class="table table-striped table-hover">
  <thead>
    <tr class="warning">
      <th>Team</th>
      <th class="center">P</th>
      <th class="center">W</th>
      <th class="center">D</th>
      <th class="center">L</th>
      <th class="center">F</th>
      <th class="center">A</th>
      <th class="center">Deducted</th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr class="<%= cycle('info', 'success') -%>">
        <%= fields_for "table[]", table do |f| %>
          <td><%= table.team.long_name %></td>
          <td><%= f.text_field :played, class: "form-control center" %></td>
          <td><%= f.text_field :won, class: "form-control center" %></td>
          <td><%= f.text_field :drawn, class: "form-control center" %></td>
          <td><%= f.text_field :lost, class: "form-control center" %></td>
          <td><%= f.text_field :for, class: "form-control center" %></td>
          <td><%= f.text_field :against, class: "form-control center" %></td>
          <td><%= f.text_field :deducted, class: "form-control center" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Save changes", class: "btn btn-sm btn-success" %>
<% end %>
