<% content_for :title, "Table" %>

<% if @tables[0] == nil %>
<div class="center"><p>There is no table data yet, please click here to generate the base data.</p><%= link_to 'New Table', new_table_path, class: "btn btn-primary btn-sm" %></div><br />
<% end %>

<% unless @tables[0] == nil %>
<table class="table table-striped table-hover">
  <thead>
    <tr class="warning">
      <th>Pos.</th>
      <th>Team</th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>F</th>
      <th>A</th>
      <th>GD</th>
      <th>Pts</th>
      <th>Deducted</th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @tables.each do |table| %>
      <tr class="<%= cycle('info', 'success') -%>">
        <td><%= i.to_s + "." %></td>
        <td><%= table.team.long_name %></td>
        <td><%= table.played %></td>
        <td><%= table.won %></td>
        <td><%= table.drawn %></td>
        <td><%= table.lost %></td>
        <td><%= table.for %></td>
        <td><%= table.against %></td>
        <td><%= table.goal_difference %></td>
        <td><%= table.points %></td>
        <td><%= table.deducted if table.deducted > 0 %></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit Table', edit_all_tables_path, class: "btn btn-sm btn-warning" %>
<% end %>