<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @player.surname %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @player.bio %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
